<div id="frontpage">
    <header id="header">
        <div class="header">
            {{ page.header }}
        </div>
    </header>
    <section id="main">
        <div class="main">
                <div id="content" class="test">
                    {{ page.content }}
                </div>
        </div>
    </section>
    {% if page.footer %}
        <footer id="footer">
            <div class="footer">
                {{ page.footer }}
                <div class"footer-left">
                {{ block_footer_left }}
                </div>
                <div class"footer-right">
                {{ block_footer_right }}
                </div>
            </div>
        </footer>
    {% endif %}
</div>